body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: white;

	background: url('../images/daft-sam.gif');
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 500px;
  margin: 40px;
  background: rgba(0,0,0,0.5);
  padding: 15px;
  border-radius: 20px;
}

h1 {
	font-size: 80px;
	margin-bottom: -50px;
	font-family: 'Rokkitt', serif;
}

h2 {
	font-size: 30px;
}

a {
	color: #BFE35B;
	text-decoration: none;
}
